<div id="google_translate_element"></div>

<script type="text/javascript">
function googleTranslateElementInit() {
  new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');
}
</script>

<script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>

<h2 style="text-align: center;">Android App ➡ How to use your ChromeBook 💻</h2>
<p></p>
<p style="text-align: center;">This app teaches you how to use the basic functions of your ChromeBook!</p>
<p></p>
<p style="text-align: center;"><a href="https://www.udrop.com/KXyx/chromebookapp.apk" target="_blank" rel="noopener" title="Download">Download the app (APK)</a></p>
<p></p>
<h4 style="text-align: center;"><a href="/" target="_blank" rel="noopener" title="Back to home">Back to home</a></h4>
<p></p>
<link rel="icon" href="favicon.ico" type="image/x-icon"/>
 <body style="background-color:#E1CE7A;">
