<div id="google_translate_element"></div>

<script type="text/javascript">
function googleTranslateElementInit() {
  new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');
}
</script>

<script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>

<title>Aneesh's Website</title>
<link rel="canonical" href="https://aneeshlingala.gitlab.io" />
<h2 style="text-align: center;">𝕎𝕖𝕝𝕔𝕠𝕞𝕖 𝕥𝕠 𝕞𝕪 𝕨𝕖𝕓𝕤𝕚𝕥𝕖!</h2>
<h4 style="text-align: center;"><span style="color: #000000;">This is my small space on the internet. 🌐&nbsp;</span></h4>
<h3 style="text-align: center;"><span style="color: #000000;">About Me 🧒</span><span style="color: #ffffff;"></span></h3>
<p style="text-align: center;"><span style="color: #000000;">• My name is Aneesh.&nbsp;</span></p>
<p style="text-align: center;"><span style="color: #000000;">• I am&nbsp;11 years old.</span></p>
<p style="text-align: center;"><span style="color: #000000;">• I like to code.</span></p>
<p style="text-align: center;"><span style="color: #000000;">• I have a YouTube Channel.</span></p>
<p style="text-align: center;"><span style="color: #000000;">• I have run this website for 3 years.</span></p>
<p><span style="color: #ffffff;"></span></p>
<h3 style="text-align: center;"><span style="color: #000000;">Social Media 📧</span></h3>
<p style="text-align: center;"><a href="https://www.youtube.com/channel/UCoUPRze-YPOcFuf47SeLS2Q" target="_blank" rel="noopener" title="YouTube"><img  alt=""/><img src="icons/youtube.png" alt="Youtube" width="48" height="48"/></a><img  alt=""/></p>
<p style="text-align: center;"><img  alt=""/><a href="mailto:aneeshlingala61@gmail.com" target="_blank" rel="noopener" title="Email"><img src="icons/email.png" alt="Email" width="48" height="48"/></a></p>
<p style="text-align: center;"><a href="https://github.com/aneeshlingala" target="_blank" rel="noopener" title="Github"><img src="icons/git.png" alt="Github" width="48" height="48"/></a></p>
<p style="text-align: center;"><a href="https://gitlab.com/aneeshlingala" target="_blank" rel="noopener" title="GitLab"><img src="icons/gitlab.svg" alt="GitLab" width="48" height="48"/></a></p>
<h3 style="text-align: center;"><span style="color: #000000;">Extra Links 🔗</span></h3>
<h3 style="text-align: center;"><a href="https://aneeshl.blogspot.com" target="_blank" rel="noopener" title="My Blog">My Blog</a> 📕</h3>
<h3 style="text-align: center;"><a href="chromebookapp.html" target="_blank" rel="noopener" title="Resources to Use your Chromebook."</a>Android App ➡ Resources for your Chromebook</h3>
<h3 style="text-align: center;"><a href="useful-software-and-websites.html" target="_blank" rel="noopener" title="Useful software and websites">Useful software and websites list</a>&nbsp;🧑&zwj;💻🌐</h3>
<p></p>

</style>
<!-- HTML -->	
<div class="example1">
<h3>GNU/Linux is my preferred operating system. The GNU/Linux distro that I currently use is Debian. 🐧 </h3>
</div>
<style>
.example1 {
 height: 50px;	
 overflow: hidden;
 position: relative;
}
.example1 h3 {
 font-size: 1.5em;
 color: #00000;
 position: absolute;
 width: 100%;
 height: 100%;
 margin: 0;
 line-height: 50px;
 text-align: center;
 /* Starting position */
 -moz-transform:translateX(100%);
 -webkit-transform:translateX(100%);	
 transform:translateX(100%);
 /* Apply animation to this element */	
 -moz-animation: example1 15s linear infinite;
 -webkit-animation: example1 15s linear infinite;
 animation: example1 15s linear infinite;
}
/* Move it (define the animation) */
@-moz-keyframes example1 {
 0%   { -moz-transform: translateX(100%); }
 100% { -moz-transform: translateX(-100%); }
}
@-webkit-keyframes example1 {
 0%   { -webkit-transform: translateX(100%); }
 100% { -webkit-transform: translateX(-100%); }
}
@keyframes example1 {
 0%   { 
 -moz-transform: translateX(100%); /* Firefox bug fix */
 -webkit-transform: translateX(100%); /* Firefox bug fix */
 transform: translateX(100%); 		
 }
 100% { 
 -moz-transform: translateX(-100%); /* Firefox bug fix */
 -webkit-transform: translateX(-100%); /* Firefox bug fix */
 transform: translateX(-100%); 
 }
}
</style>

<!-- HTML -->	
<div class="example1">
<h3>Last edited on December 6th, 2023 📅 </h3>
</style>
<p></p>
<link rel="icon" href="favicon.ico" type="image/x-icon"/>
 <body style="background-color:#E1CE7A;">	  



